<!-- Page Owner -->
<div class="col-12 col-sm-12 p-0">
		<div class="card my-0 shadow-z-1 h-50">
			<div class="card-header bg-light pt-3">
				<div class="form-row">
					<div class="col-12 col-sm-6  text-left">
						<h3 class="content-header mt-1">Lead of Owner Detail</h3>
          </div>
          <!-- btn owner -->
            <div class="col-12 col-sm-6 text-right pt-1">
              <div class="btn-group btn-group-justified">
                <button class="btn rds__btn-light btn-outline-secondary btn-sm px-3 border-secondary text-info" (click)="onConvert()">Convert</button>
                <button class="btn rds__btn-light btn-outline-secondary btn-sm px-3 border-secondary text-info" (click)="onView()">View</button>
                <button class="btn rds__btn-light btn-outline-secondary btn-sm px-3 border-secondary text-info" (click)="onEdit">Edit</button>
                <button class="btn rds__btn-light btn-outline-secondary btn-sm px-3 border-secondary text-info" (click)="onDelete()">Delete</button>
              </div>
            </div>
      </div>
      <!-- Searching owner -->
			<div class="form-row">
					<div class="col-12 col-sm-5 pl-1 pt-0">
						<p class="text-secondary mb-0 mt-1 font-small-3"></p>
					</div>
					<div class="col-12 col-sm-7 pt-0 d-flex">
                <div class="input-group input-group-sm mb-0">
                    <input type="text" class="form-control ml-2" placeholder="Search Lists"/>
                  <div class="input-group-append">
                    <button class="btn input-group-text btn-sm py-0 mr-1" style="height: 67%;">
                      <i class="ft-search"></i>
                    </button>
                  </div>
                </div>
              <button class="btn input-group-text btn-sm px-1">
                <i class="ft ft-filter text-dark"></i>
              </button>
        </div>
      </div>
		</div>
</div>
  <!-- create data display -->
<div class="">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Action</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Company</th>
          <th scope="col">Industry</th>
          <th scope="col">Rating</th>
          <th scope="col">Stage</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
<!-- List of Owner -->
      <tbody>
        <tr>
          <td scope="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </div>
          </td>
            <td scope="col">First</td>
            <td scope="col">Last</td>
            <td scope="col">Gender</td>
            <td scope="col">Phone</td>
            <td scope="col">Email</td>
            <td scope="col">Company</td>
            <td scope="col">Industry</td>
            <td scope="col">Rating</td>
            <td scope="col">Convert</td>
            <td scope="col">Owner</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
          

        
  
 
