// .table-ag-grid{
//     min-height: calc(100vh - 1.5rem);
// }
ag-grid-angular{
    min-height: calc(85vh - 1.5rem);
}
::ng-deep .ag-theme-balham .ag-root {
    border-right: none !important;
    border-left: none !important;
}
.rds__section-body{
    .card-content{
        min-height: calc(100vh - 7rem);
    }
}
