<div class="bg-primary d-flex flex-column justify-content-between align-items-center pt-2">
    <ul class="navbar-nav">
        <!-- <li class="nav-item" ngbDropdown [placement]="placement">
            <a class="nav-link border-0 btn btn-primary btn-round btn-social-icon notification-sidebar-toggle notification-sidebar-toggle mb-1" id="navapp" ngbDropdownToggle>
                <i class="fa fa-th font-medium-3 text-light d-flex justify-content-center align-items-center"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="navapp" class="navapp ml-5">
                <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('en')">
                    <img src="./assets/img/flags/us.png" alt="English" class="langimg">
                    <span>English</span>
                </a>
                <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('es')">
                    <img src="./assets/img/flags/es.png" alt="Spanish" class="langimg">
                    <span>Spanish</span>
                </a>
                <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('pt')">
                    <img src="./assets/img/flags/br.png" alt="Portuguese" class="langimg">
                    <span>Portuguese</span>
                </a>
                <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('de')">
                    <img src="./assets/img/flags/de.png" alt="German" class="langimg">
                    <span>German</span>
                </a>
            </div>
        </li> -->
        <li class="nav-item d-none d-lg-block">
            <a href="javascript:;" class="nav-link border-0 btn btn-primary btn-round btn-social-icon notification-sidebar-toggle notification-sidebar-toggle mb-1" id="navbar-fullscreen" appToggleFullscreen
                (click)="ToggleClass()">
                <i id="my-color" class="{{toggleClass}} font-medium-3 d-flex justify-content-center align-items-center"></i>
            </a>
        </li>
        <!-- <li class="nav-item" ngbDropdown [placement]="placement">
            <a class="nav-link border-0 btn btn-primary btn-round btn-social-icon notification-sidebar-toggle notification-sidebar-toggle mb-1" id="dropdownLang" ngbDropdownToggle>
                <i class="ft-flag font-medium-3 text-light d-flex justify-content-center align-items-center"></i>

            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownLang" class="dropdownLang text-left ml-5">
                <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('en')">
                    <img src="./assets/img/flags/us.png" alt="English" class="langimg">
                    <span>English</span>
                </a>
                <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('es')">
                    <img src="./assets/img/flags/es.png" alt="Spanish" class="langimg">
                    <span>Spanish</span>
                </a>
                <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('pt')">
                    <img src="./assets/img/flags/br.png" alt="Portuguese" class="langimg">
                    <span>Portuguese</span>
                </a>
                <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('de')">
                    <img src="./assets/img/flags/de.png" alt="German" class="langimg">
                    <span>German</span>
                </a>
            </div> 
        </li> -->
        <!-- <li class="nav-item" ngbDropdown [placement]="placement">
            <a class="nav-link border-0 btn btn-primary btn-round btn-social-icon notification-sidebar-toggle notification-sidebar-toggle mb-1" id="dropdownBasic2" ngbDropdownToggle>
                <i class="ft-bell font-medium-3 text-light d-flex justify-content-center align-items-center"></i>
                <span class="notification badge badge-pill "></span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="notification-dropdown ml-5">
                <div class="noti-list ml-5" [perfectScrollbar]>
                    <a
                        class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4 ml-5">
                        <i class="ft-bell info float-left d-block font-large-1 mt-1 mr-2"></i>
                        <span class="noti-wrapper">
                            <span class="noti-title line-height-1 d-block text-bold-400 info">New Order
                                Received</span>
                            <span class="noti-text">Lorem ipsum dolor sit ametitaque in, et!</span>
                        </span>
                    </a>
                    <a
                        class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4 ml-5">
                        <i class="ft-bell warning float-left d-block font-large-1 mt-1 mr-2"></i>
                        <span class="noti-wrapper">
                            <span class="noti-title line-height-1 d-block text-bold-400 warning">New User
                                Registered</span>
                            <span class="noti-text">Lorem ipsum dolor sit ametitaque in </span>
                        </span>
                    </a>
                    <a
                        class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4 ml-5">
                        <i class="ft-bell danger float-left d-block font-large-1 mt-1 mr-2"></i>
                        <span class="noti-wrapper">
                            <span class="noti-title line-height-1 d-block text-bold-400 danger">New Order
                                Received</span>
                            <span class="noti-text">Lorem ipsum dolor sit ametest?</span>
                        </span>
                    </a>
                    <a class="dropdown-item noti-container py-3 ml-5">
                        <i class="ft-bell success float-left d-block font-large-1 mt-1 mr-2"></i>
                        <span class="noti-wrapper">
                            <span class="noti-title line-height-1 d-block text-bold-400 success">New User
                                Registered</span>
                            <span class="noti-text">Lorem ipsum dolor sit ametnatus aut.</span>
                        </span>
                    </a>
                </div>
                <a
                    class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1 ml-5">Read
                    All Notifications</a>
            </div>
        </li> -->
    </ul>
    <ul class="navbar-nav">

        <!-- <li class="nav-item" ngbDropdown [placement]="placement">
            <a class="nav-link border-0 btn btn-primary btn-round btn-social-icon notification-sidebar-toggle text-light mb-1" id="dropdownBasic3" ngbDropdownToggle>
                <i class="ft-user font-medium-3  d-flex justify-content-center align-items-center text-light"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left ml-5">
                <a class="dropdown-item py-1" routerLink="/pages/profile">
                    <i class="ft-edit mr-2"></i>
                    <span>My Profile</span>
                </a>
                <a class="dropdown-item py-1" routerLink="/inbox">
                    <i class="ft-mail mr-2"></i>
                    <span>My Inbox</span>
                </a>
                <a class="dropdown-item py-1" href="javascript:;">
                    <i class="ft-settings mr-2"></i>
                    <span>Settings</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:;" (click)="OnLogout()">
                    <i class="ft-power mr-2"></i>
                    <span>Logout</span>

                </a>
            </div>
        </li> -->
        <!-- <li class="nav-item d-none d-lg-block ">
            <a class="nav-link border-0 btn btn-primary btn-round btn-social-icon notification-sidebar-toggle notification-sidebar-toggle mb-1"
                (click)="toggleNotificationSidebar();">
                <i class="ft-align-left font-medium-3  d-flex justify-content-center align-items-center text-light"></i>
            </a>
        </li> -->
        <li class="nav-item d-none d-lg-block">
            <button (click)="doLogout()" class="border-0 btn btn-primary btn-round btn-social-icon notification-sidebar-toggle">
                <i class="ft-power font-medium-3 text-light d-flex justify-content-center align-items-center"></i>
            </button>
        </li>

    </ul> 
</div>