<div class="form-group">
    <label class="small font-weight-light text-capitalize text-muted" *ngIf="label">{{label}}</label>
    <label class="d-block m-0" *ngIf="type == 'text'">{{value || '-'}}</label>
    <a class="d-block m-0" href="tel:{{value}}" *ngIf="type == 'phone'">{{value  || '-'}}</a>
    <a class="d-block m-0"  href="mailto:{{value}}" *ngIf="type == 'email'">{{value || '-'}}</a>
    <a class="d-block m-0" [routerLink]="routeUrl"  href="javascript:void(0)" *ngIf="type == 'link'">{{value || '-'}}</a>

</div>

<!-- <a href="#" class="text-underline">Project A</a> -->